.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #3f4144;
    color: white;
}

.logo-container {
    margin-right: 10px; 
}

.logo {
    width: 100px; 
    height: 100px; 
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

.navbar-item {
    margin-right: 30px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: font-weight 0.2s ease;
}

.navbar-link:hover {
    font-weight: 700;
}

.logout-link {
    margin-left: 20px;
}